.blue-text {
    color: blue;
  }

  .magenta-text {
    color: magenta;
  }

  .white-text {
    color: white;
  }

  .black-background {
    background-color: black;
  }

  .red-text {
    color: red;
  }

  .peru-background {
    background-color: peru;
  }